body {background-color:rgb(3, 22, 22);}

.navigation-column {float: left;width: 20%;}

.content-column {float: left;width: 80%;}

.pNavCol {padding: 10px; text-align: center; font-size: 30px ;}

h1{
    padding: 10px;
    text-align: center;
    background: #03241d;
    color: white;
    font-size: 40px;
  }

h2{
    padding: 10px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    padding: 10px;
    padding-top: 0px;
    border: 2px solid rgb(37, 20, 110);
    border-radius: 10px;
    color:#f3ecec

}

ul {
  color: #ddd;
}

a {
  color: bisque;
}


pre {
    position: relative;
    padding: 1em;
    background-color: #f3f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
}

li.indent-one { text-indent: 1em; }
