body {background-color:rgb(16, 68, 68);}

.navigation-column {float: left;width: 20%;}

.content-column {float: left;width: 80%;}

.navigation-column h2 {padding: 10px; text-align: center; font-size: 30px ;}

.navigation-column a { line-height: 25px;}

/* this CSS turns on the floating menu which overrides the column */

/*  .floating-menu {
  font-family: sans-serif;
  background: yellowgreen;
  padding: 5px;;
  width: 130px;
  z-index: 100;
  position: fixed;
}*/ 
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    text-align: center;
    background: #03241d;
    color: white;
    font-size: 60px;
  }

h2{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    padding: 10px;
    /*padding-top:10px;*/
    border: 2px solid rgb(37, 20, 110);
    border-radius: 10px;
    color:#f3ecec

}

ul {
  color: #ddd;
}

a {
  color: bisque;
}


pre {
    position: relative;
    padding: 1em;
    background-color: #f3f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
}

li.indent-one { text-indent: 1em; }
