h1 {color:green; font-family:arial; font-size: 20px}
.header {
  box-sizing: border-box;
  padding: 15px;
  border: 10px;
  margin: 20px;
  text-align: center;
  background: #00008B;
  opacity: 0.5;
  color: white;
  font-size: 30px; }
